Repository zYoma/yandex-devops-momo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

сборка бекенда
  backend/.gitlab-ci.yml
Due: backend

сборка бекенда
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend

сборка бекенда
  frontend/Dockerfile
Due: frontend

сборка бекенда
  frontend/.gitlab-ci.yml
Due: frontend

build frontend
  frontend/.gitlab-ci.yml
Due: frontend

build frontend
  frontend/.gitlab-ci.yml
  kubernetes/frontend/configmap.yaml
  kubernetes/frontend/deployment.yaml
  kubernetes/frontend/ingress.yml
  kubernetes/frontend/secrets.yaml
  kubernetes/frontend/service.yaml
Due: frontend

build frontend
  frontend/.gitlab-ci.yml
  kubernetes/frontend/ingress.yml
Due: frontend

build frontend
  kubernetes/frontend/deployment.yaml
  kubernetes/frontend/ingress.yml
Due: none

build frontend
  kubernetes/frontend/deployment.yaml
Due: none

build frontend
  kubernetes/backend/configmap.yaml
  kubernetes/backend/deployment.yaml
  kubernetes/backend/secrets.yaml
  kubernetes/backend/service.yaml
  kubernetes/backend/vpa.yaml
Due: none

build frontend
  kubernetes/backend/deployment.yaml
  kubernetes/backend/vpa.yaml
Due: none

build frontend
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  kubernetes/backend/deployment.yaml
  kubernetes/frontend/deployment.yaml
Due: frontend, backend

build frontend
  kubernetes/backend/deployment.yaml
  kubernetes/frontend/deployment.yaml
Due: none

build frontend
  frontend/Dockerfile
Due: frontend

build frontend
  kubernetes/backend/deployment.yaml
  kubernetes/frontend/configmap.yaml
Due: none

build frontend
  kubernetes/backend/service.yaml
Due: none

build frontend
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

build frontend
  kubernetes/frontend/configmap.yaml
  kubernetes/frontend/ingress.yml
Due: none

build frontend
  kubernetes/frontend/configmap.yaml
Due: none

try
  kubernetes/frontend/configmap.yaml
Due: none

try
  frontend/Dockerfile
Due: frontend

try
  backend/.gitlab-ci.yml
  backend/kubernetes/configmap.yaml
  backend/kubernetes/deployment.yaml
  backend/kubernetes/secrets.yaml
  backend/kubernetes/service.yaml
  frontend/.gitlab-ci.yml
  frontend/kubernetes/configmap.yaml
  frontend/kubernetes/deployment.yaml
  frontend/kubernetes/ingress.yml
  frontend/kubernetes/secrets.yaml
  frontend/kubernetes/service.yaml
Due: frontend, backend

try
  frontend/kubernetes/ingress.yml
Due: frontend

try
  frontend/kubernetes/acme-issuer.yaml
  frontend/kubernetes/configmap.yaml
  frontend/kubernetes/ingress.yml
Due: frontend

try
  frontend/kubernetes/deployment.yaml
Due: frontend

try
  frontend/kubernetes/configmap.yaml
  frontend/kubernetes/deployment.yaml
Due: frontend

try
  frontend/kubernetes/configmap.yaml
  frontend/kubernetes/deployment.yaml
  frontend/nginx.tmpl
Due: frontend

try
  frontend/kubernetes/configmap.yaml
  frontend/kubernetes/deployment.yaml
  frontend/kubernetes/ingress.yml
  frontend/kubernetes/service.yaml
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
