Repository zYoma/yandex-devops-momo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend/**/*

try
  frontend/Dockerfile
Due: frontend

try
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

try
  backend/.gitlab-ci.yml
  backend/cmd/api/dependencies/store.go
  backend/kubernetes/deployment.yaml
  frontend/.gitlab-ci.yml
  frontend/kubernetes/deployment.yaml
Due: frontend, backend

try
  backend/cmd/api/app/app_test.go
  frontend/kubernetes/service.yaml
Due: frontend, backend

try
  backend/kubernetes/deployment.yaml
Due: backend

try
  README.md
Due: none
